<html><head></head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Out</title>
    
  </head>
  <body>
    <div>
      <strong>Menu:</strong>
      <ul>
        
        <li><a href="/accounts/email/">Change Email</a></li>
        <li><a href="/accounts/logout/">Sign Out</a></li>
        
      </ul>
    </div>
    
<h1>Sign Out</h1>

<p>Are you sure you want to sign out?</p>

<form method="post" id="logout-form" action="/accounts/logout/">
  <input type="hidden" name="csrfmiddlewaretoken" value="IZe3F9RgFkfxScVtU4pi86zVJjsU7MLvKvWH8NK7OdHjVutXXvJz8A9W68trAqp0">
  
  <button type="submit">Sign Out</button>
</form>



    
    
    
  

</body></html>