{% extends "base.html" %}
{% load static %}

{% block head_title %}Booking Detail{% endblock %}

{% block main_content %}
<main class="flex-shrink-0 main-bg d-flex align-items-center justify-content-center position-relative">
    <div class="booking-detail">
        <h2 id="book-contents">Booking Detail</h2>
        <p id="date"><strong>Date:</strong> {{ booking.date }}</p>
        <p id="time"><strong>Time:</strong> {{ booking.time }}</p>
        <p id="people"><strong>Guests:</strong> {{ booking.guests }}</p>
        <p id="booked-by"><strong>Booked by:</strong> {{ booking.user.username }}</p>
    </div>
</main>
<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-white">Made by George Small</p>
    <p class="m-0 text-center text-white">Follow us: 
        <i class="fab fa-facebook-square ms-3"></i>
        <i class="fab fa-twitter-square ms-3"></i>
        <i class="fab fa-instagram-square ms-3"></i>
        <i class="fab fa-youtube-square ms-3"></i>
    </p>
    <p>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
                src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                alt="Valid CSS!" />
        </a>
    </p>
</footer>
{% endblock %}
