<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/backgroundcode/CSS/style.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Booking Created Successfully!</h1>
        <p>Thank you for your booking. We will get in touch with you shortly.</p>
        <h1>You can now click on the view bookings page and it should show you all of your bookings</h1>
        <a href="{% url 'home' %}" class="btn btn-primary">Go back to Home</a>
    </div>
</body>
</html>
