{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'backgroundcode/css/style.css' %}">
    <title>Create Booking</title>
</head>
<body>
    <main class="flex-shrink-0 main-bg d-flex align-items-center justify-content-center position-relative">
        <div class="booking-form">
            <h2>Create a Booking</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>
