<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'backgroundcode/CSS/style.css' %}">
</head>
<body>
    <h1>Update Booking</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form fields -->
        <button type="submit">Update Booking</button>
    </form>
    
    <a href="{% url 'view_booking' %}">Cancel</a> <!-- Link to cancel and go back -->
    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Made by George Small</p>
        <p class="m-0 text-center text-white">Follow us: 
            <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
        </p>
        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                    alt="Valid CSS!" />
            </a>
        </p>
    </footer>
</body>
</html>
